body {
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: #f8f8f8;
}

.ajaxloader {
	width: 16px;
	height: 16px;
	background-image: url(/img/477.gif);
	background-repeat: no-repeat;
	position: absolute;
	top: 10px;
	right: 0;
}

.ars {
	border:20px solid red;
}

.ars-text {
	display: none;
}

.ars .ars-text {
	display: block;
	color: red;
	font-size: 120px;
	position: absolute;
	left: 50%;
	margin-left: -100px;
	top: 10px;
} 

.chartbox {
	position: relative;
}

.chartbox h2 {
	padding: 10px 0 20px;
}
.chartbox h3 {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 70px;
	margin-left: -100px;
	margin-top: -5px;
	margin-bottom: 0;
	width: 200px;
	text-align: center;
}
.box {
	min-height: 420px;
}
.time-container div {
	font-weight: bold;
	font-size: 60px;
}
.time-container {
	_margin-top: 120px;
}
.time-container h2 {
	font-size: 100px;
}
.time-container h3 {
	font-size: 40px;
}

.numbers-container {
	padding-right: 40px;
}

.numbers-container h2 {
	font-size: 50px;
}

.req-box {
	padding:10px;
	background-color: #fff;
	border: #f1f1f1;
	margin-bottom: 10px;
	height: 204px;
	margin-bottom: 10px;
	overflow: hidden;
}
.fa-check {
	display: none;
	position: absolute;
	font-size: 60px;
	color: #96bf47;
	top: 50%;
	left: 50%;
	margin-left: -30px;
	margin-top: -30px;
}
.req-done .fa {
	display: block;
}
.req-done .req-box {
	opacity: 0.6;
}

.req-box h3 {
	font-size: 30px
}
